* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --bm-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.light-mode {
    --color-primary: #FFFFFF;
    --color-secondary: #F56692;
    --color-white: #12181b;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #6c7983;
    --color-grey-2: #6c7983;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #f8f8f8;
    --color-grey-6: #12181b;
}

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
    /* background-color: rgba(161,228,38,0.849);*/
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);

}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);

}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;

}

@keyframes scaleAnim {
    0% {
        transform: translateY(-100%) scaleY(0)
    }

    100% {
        transform: translateY(0) scaleY(1)
    }
}

.controlls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

}

.active-btn {
    background-color: var(--color-secondary) !important;
    transition: all .4s ease-in-out;
}

.active-btn i {
    color: var(--color-white) !important;
}

.control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: var(--box-shadow-1);


}

/*************************Theme******************************************/
.theme-btn {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
}

.theme-btn i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

.theme-btn {
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
    transition: all .1s ease-in-out;
}

.theme-btn:active {
    transform: translateY(-3px);
}

.theme-btn i {
    font-size: 1.4rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

.i {
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
}

/*header*/

.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;

}

.left-header {
    display: flex;
    align-items: center;
    position: relative;
}

.right-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;

}

.right-header .name {
    font-size: 3rem;
}

.right-header .name span {
    color: var(--color-secondary);
}

.right-header p {
    margin: 1.5rem;
    line-height: 2rem;
}

/* About*/
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}

.about-container .right-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.about-container .about-item {
    border: 1px solid var(--color-grey-5);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
}

.about-container .about-item :hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid var(--color-secondary);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, .32);
}

.abt-text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.large-text {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-secondary);
}

.small-text {
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.about-container .left-about {
    padding-right: 5rem;
}

.left-about p {
    line-height: 2rem;
    padding: 1rem;
    color: var(--color-grey-1);
}

.left-about h4 {
    font-size: 2rem;
    text-transform: uppercase;
}

/**************************About status*****************************/
.about-stats {
    padding-bottom: 4rem;
}

.about-stats .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
}

.prog-title {
    text-transform: uppercase;
    font-weight: 500;
}

.progress-con {
    display: flex;
    align-items: center;
}

.prog-text {
    color: var(--color-grey-2);
}

.progress {
    width: 100%;
    height: .45rem;
    background-color: var(--color-grey-4);
    margin-left: 1rem;
    position: relative;
}

.progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    transition: all .4s ease-in-out;
    /* width: 80%;*/
}

.html {
    width: 90%;
}

.css {
    width: 70%;
}

.js {
    width: 60%;
}

.c {
    width: 90%;
}

.java {
    width: 90%;
}

.python {
    width: 70%;
}

.react {
    width: 60%;
}

.cplus {
    width: 80%
}

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
}

.stat-title ::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
}

/******************************About TimeLine****************************/
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
}

.timeline-item {
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--color-grey-5);
}

.tl-icon {
    position: absolute;
    left: -27px;
    top: 0;
    background-color: var(--color-secondary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tl-icon i {
    font-size: 1.3rem;
}

.tl-duration {
    padding: .2rem .6rem;
    background-color: var(--color-grey-5);
    border-radius: 15px;
    display: inline-block;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.tl-duration h5 {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
}

.tl-duration h5 span {
    color: var(--color-grey-2);
    font-weight: 500;
    font-size: 1.2rem;
}

.tl-duration p {
    color: var(--color-grey-2);
}

/*Independant*************************/
.btn-con {
    display: flex;
    align-self: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.btn-text {
    padding: 0 2rem;
}

.btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;
}

.btn-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .4s ease-out;
    z-index: -1;
}

.btn-icon:hover {
    transition: all .4s ease-out;
}

.btn-icon:hover::before {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transform: translateX(0);
    transition: all .4s ease-out;
}

.h-shape {
    transition: all .4s ease-in-out;
    width: 65%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.image {
    border-radius: var(--br-sm-2);
    height: 90%;
    width: 68%;
    margin-left: 4rem;
    background-color: var(--color-black);
    transition: all .4s ease-in-out;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
    filter: grayscale(100%);

}

.image img:hover {
    filter: grayscale(0);
}

/*****************************************Portfolio***********************************************/
.port-text {
    padding: 2rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}

.portfolio-item {
    position: relative;
    border-radius: 15px;
}

.portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 15px;
    filter: grayscale(0);
}

.hover-items {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.hover-items h3 {
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 1.5rem;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.icon i {
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0 1rem;
}

.icon:hover {
    background-color: var(--color-white);
}

.icon i:hover {
    color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

/**************************************About*************************************************************************/
.main-title {
    text-align: center;
}

.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}

.main-title h2 span {
    color: var(--color-secondary);
}

.main-title .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-5);
    transition: all .4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
}

/*****************************************Contact Section********************************************/
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
}

.left-contact {
    flex: 2;
}

.left-contact h4 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;

}

.left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
}

.contact-info .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact-info .contact-item p {
    margin: .3rem 0 !important;
    padding: 0 !important;
}

.contact-info .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.contact-info .icon i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.contact-icon {
    display: flex;
    margin-top: 2rem;
}

.contact-icon a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-grey-5);
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 .4rem;
    transition: all .4s ease-in-out;
}

.contact-icon a:hover {
    background-color: var(--color-secondary);
}

.contact-icon a:hover i {
    color: var(--color-primary);
}

.contact-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

.right-contact {
    flex: 3;
    margin-left: 3rem;
}

.input-control {
    margin: 1.5rem 0;
}

.input-control input,
textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: .8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    width: 100%;
    color: var(--color-white);
    resize: none;
}

.i-c-2 {
    display: flex;
}

.i-c-2 :last-child {
    margin-left: 1.5rem;
}

.submit-btn {
    display: flex;
    justify-content: flex-start;
}













/************************************Media********************************************/
@media screen and (max-width: 600px) {
    header {
        padding: 0;

    }

    header .right-header {
        padding: 0 !important;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header .h-shape {
        display: none;
    }

    .right-header {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }

    .right-header .name {
        font-size: 2.5rem !important;
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 90%;
    }

    .about-container {
        grid-template-columns: 1fr;
    }

    .about-container .right-about {
        grid-template-columns: 1fr;
        padding-top: 2.5rem;
    }

    .about-container .left-about {
        padding-right: 0;
    }

    .about-container .left-about p {
        padding-left: 0;
    }

    .timeline {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats .progress-bars {
        grid-template-columns: 1fr;
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .contact-content-con{
        flex-direction: column;
    }
    .contact-content-con .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0 ;
        margin-top: 1.5rem;
    }
    .section {
        padding: 2rem 2.5rem;
    }
    .main-title h2{
            font-size: 2rem;
        }
        .main-title h2 span{
            font-size: 2.55rem;
        }
        .bg-text{
         font-size: 2.5rem;
        }
    
    .controlls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
    }

    .controlls .control {
        margin: 1rem .3rem;
    }
    .map{
        width: 390px;
        height: 400px;
    }
}

@media screen and (max-width: 1432px) {
    header{
        padding: 0 !important;
    }
    .section{
        padding: 7rem 11rem;
    }
    .contact-content-con{
        flex-direction: column;
    }
    .contact-content-con .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0 ;
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 1070px) {
    .about-container{
        grid-template-columns: 1fr;
    }
    .right-about{
        padding-top: 2.5rem;
    }
    .main-title h2{
        font-size: 4rem;
    }
    .main-title h2 span{
        font-size: 4rem;
    }
    .portfolios{
        grid-template-columns: 1fr 1fr;
    }
    .bg-text{
        font-size: 4.5rem;
    }
}
@media  screen and (max-width: 970px) {
    .section{
        padding: 7rem 6rem;
    }
    header {
        padding: 0;

    }

    header .right-header {
        padding: 0 !important;
    }

    .theme-btn {
        width: 50px;
        height: 50px;
    }

    .header-content {
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header .h-shape {
        display: none;
    }

    .right-header {
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
    }

    .right-header .name {
        font-size: 2.5rem !important;
    }

    .header-content .left-header .image {
        margin: 0 auto;
        width: 90%;
    }
    .controlls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
    }
    .controlls .control {
        margin: .6rem 1rem !important;
    }
}
@media  screen and (max-width: 700px) {
    .section{
        padding: 7rem 3rem;
    }
    .about-stats .progress-bars{
        grid-template-columns: 1fr;
    }
    .main-title h2{
        font-size: 3rem;
    }
    .map{
        width: 400px;
    }
}